<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(${itemForm.getName()} + ' 상품 관리 페이지 - HealthShop')}">
</head>

<body>
<header th:replace="~{fragments/header :: navigation('shop')}"></header>

<!-- Product section-->
<section class="min-vh-100">
    <div class="d-flex align-items-center h-100" style="padding: 70px 0;">
        <div class="container h-100">
            <div class="row justify-content-center">
                <div class="col-12 col-md-11 col-lg-10 col-xl-9">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">

                            <div style="display: flex; justify-content: space-between;">

                                <div class="d-flex align-items-center mb-4">
                                    <img src="/images/left-arrow.svg" href="/shop" class="me-2" width="23" height="23" alt="cart" style="margin-top: 2px;">
                                    <a th:href="@{/shop/item/{itemId}(itemId=${itemForm.itemId})}" class="fw-bolder fs-6">상품 페이지로 이동</a>
                                </div>

                                <form th:action="@{/manage/item/{itemId}(itemId = ${itemForm.itemId})}" th:method="delete" onsubmit="return validateDeleteItemForm()">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="deleteCsrfToken"/>
                                    <button type="submit" class="btn bg-danger btn-block text-white ms-2">
                                        상품 삭제
                                    </button>
                                </form>

                            </div>

                            <form role="form" th:action="@{/manage/item/{itemId}(itemId=${itemForm.itemId})}" th:object="${itemForm}" th:method="put" enctype="multipart/form-data" onsubmit="return validateUpdateItemForm()">

                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="putCsrfToken"/>

                                <h2 class="text-center bold-text text-black mb-4" th:text="*{name}">Item Name</h2>
                                <h6 class="text-center text-black mb-5">상품 관리 페이지</h6>

                                <div class="mb-3 highlight">(<span class="highlight text-danger">*</span>는 필수 입력 항목입니다.)</div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" th:for="itemId">상품 ID</label>
                                    <input type="text" th:field="*{itemId}" class="form-control" disabled/>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" th:for="name">상품명<span class="highlight text-danger fs-5">*</span></label>
                                    <input type="text" th:field="*{name}" class="form-control"
                                           th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"/>
                                    <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback" th:errors="*{name}"></div>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" th:for="categoryId">카테고리<span class="highlight text-danger fs-5">*</span></label>
                                    <select th:field="*{categoryId}" class="form-control">
                                        <option th:each="category : ${categories}"
                                                th:value="${category.id}"
                                                th:text="${category.name}"
                                                th:selected="${category.id} == ${itemForm.categoryId}">Category</option>
                                    </select>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" th:for="price">정가 (단위: 원)<span class="highlight text-danger fs-5">*</span></label>
                                    <input type="text" th:field="*{price}" class="form-control"
                                           th:classappend="${#fields.hasErrors('price')} ? 'is-invalid' : ''"/>
                                    <div th:if="${#fields.hasErrors('price')}" class="invalid-feedback" th:errors="*{price}"></div>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" th:for="discountRate">할인율 (단위: %, 0 이상 100 미만의 정수)<span class="highlight text-danger fs-5">*</span></label>
                                    <input type="number" th:field="*{discountRate}" class="form-control"
                                           th:classappend="${#fields.hasErrors('discountRate')} ? 'is-invalid' : ''"/>
                                    <div th:if="${#fields.hasErrors('discountRate')}" class="invalid-feedback" th:errors="*{discountRate}"></div>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label">변경될 할인가</label>
                                    <input type="text" id="discountedPrice" class="form-control" disabled/>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" th:for="brand">브랜드명<span class="highlight text-danger fs-5">*</span></label>
                                    <input type="text" th:field="*{brand}" class="form-control"
                                           th:classappend="${#fields.hasErrors('brand')} ? 'is-invalid' : ''"/>
                                    <div th:if="${#fields.hasErrors('brand')}" class="invalid-feedback" th:errors="*{brand}"></div>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" th:for="imgPath">상품 이미지</label>
                                    <input type="file" id="imgPath" name="imgFile" class="form-control" accept="image/*" onchange="previewImage(event)"/>
                                    <div class="mt-3">
                                        <img id="imgPreview" th:src="@{${itemForm.imgPath}}" class="img-fluid" alt="Image Preview">
                                    </div>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" th:for="description">상품 설명</label>
                                    <textarea th:field="*{description}" class="form-control" rows="10"
                                              th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : ''"></textarea>
                                    <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback" th:errors="*{description}"></div>
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" th:for="stockQuantity">현재 재고수량</label>
                                    <input type="text" th:field="*{stockQuantity}" class="form-control" readonly/>
                                </div>

<!--                                TODO 4: 재고수량 늘리기 및 늘어난 값 표시-->

                                <div class="d-flex justify-content-center">
                                    <button type="submit" data-mdb-button-init
                                            data-mdb-ripple-init class="btn bg-warning btn-block text-body">상품 수정</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
<footer th:replace="~{fragments/footer :: footer}"></footer>

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/validate-form.js"></script>
<script src="/js/beforeunload-handler.js"></script>
<script src="/js/discount-calculator.js"></script>
<script src="/js/preview-image.js"></script>

</body>
</html>
