<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head-other :: head('회원가입 - HealthShop', '/css/members/signup.css')">
</head>
<body>
<section class="vh-100 bg-image"
         style="background-image: url('/images/fitness-center.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-1">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <div class="text-center mb-4">
                                <img src="/images/logo.png" alt="Logo" class="mb-4" style="width: 100px; height: auto;">
                            </div>
                            <h2 class="text-center mb-5">Sign Up for HealthShop</h2>

                            <form>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="inputName">이름 또는 닉네임</label>
                                    <input type="text" id="inputName" class="form-control form-control-lg" />
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="inputId">아이디</label>
                                    <input type="text" id="inputId" class="form-control form-control-lg" />
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="inputPassword">비밀번호</label>
                                    <input type="password" id="inputPassword" class="form-control form-control-lg" />
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="inputConfirmPassword">비밀번호 확인</label>
                                    <input type="password" id="inputConfirmPassword" class="form-control form-control-lg" />
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="inputEmail">이메일</label>
                                    <input type="email" id="inputEmail" class="form-control form-control-lg" />
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="inputPhone">전화번호</label>
                                    <input type="tel" id="inputPhone" class="form-control form-control-lg" />
                                </div>

                                <div class="form-check d-flex justify-content-center mb-5">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="inputTerms" />
                                    <label class="form-check-label" for="inputTerms">
                                        <a href="#!" class="text-body"><u>HealthShop 이용약관</u></a>에 모두 동의합니다.
                                    </label>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="button" data-mdb-button-init
                                            data-mdb-ripple-init class="btn btn-success btn-block btn-lg gradient-custom-2 text-body">Sign Up</button>
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">이미 계정이 있으신가요? <a href="#!"
                                                                                             class="fw-bold text-body"><u>Login here</u></a></p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
