<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head-other :: head('회원가입 - HealthShop', '/css/members/sign.css')}">
</head>
<body>
<section class="vh-100 bg-image"
         style="background-image: url('/images/fitness-center.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-1">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <div class="text-center mb-4">
                                <img src="/images/success.png" alt="Logo" class="mb-4" style="width: 100px; height: auto;">
                            </div>
                            <h1 class="text-center mb-5">Success!</h1>

                            <div class="text-center mb-5">
                                <label>성공적으로 가입되었습니다.</label>
                            </div>

                            <div class="d-flex justify-content-center">
                                <button type="button" data-mdb-button-init
                                        data-mdb-ripple-init class="btn btn-success btn-block btn-lg gradient-custom-2 text-body">
                                    <a href="/" style="color: inherit; text-decoration: none;">Go to Home</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
