<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
</head>

<body>
<!-- Start Header/Navigation -->
<header th:replace="~{fragments/header :: navigation}"></header>
<!-- End Header/Navigation -->

<!-- Start Hero Section -->
<div class="hero gradient-custom">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1><b>Shop</b></h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->

<!-- Start Product Section -->
<div class="untree_co-section product-section before-footer-section">
  <div class="container">
    <div class="row">

      <!-- Start Column 1 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5">
        <a class="product-item" href="#">
          <img src="/images/items/pull-up-bar-stand.webp" class="img-fluid product-thumbnail">
          <h3 class="product-title">스탠드형 풀업 바</h3>
          <strong class="product-price">89,900원</strong>

          <span class="icon-cross">
								<img src="/images/cross.svg" class="img-fluid">
							</span>
        </a>
      </div>
      <!-- End Column 1 -->

      <!-- Start Column 2 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5">
        <a class="product-item" href="#">
          <img src="/images/items/dumbbell-10kg.webp" class="img-fluid product-thumbnail">
          <h3 class="product-title">10kg 덤벨, 2개</h3>
          <strong class="product-price">39,900원</strong>

          <span class="icon-cross">
								<img src="/images/cross.svg" class="img-fluid">
							</span>
        </a>
      </div>
      <!-- End Column 2 -->

      <!-- Start Column 3 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5">
        <a class="product-item" href="#">
          <img src="/images/items/t-shirt.webp" class="img-fluid product-thumbnail">
          <h3 class="product-title">트레이닝 티셔츠</h3>
          <strong class="product-price">14,900원</strong>

          <span class="icon-cross">
								<img src="/images/cross.svg" class="img-fluid">
							</span>
        </a>
      </div>
      <!-- End Column 3 -->

      <!-- Start Column 4 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5">
        <a class="product-item" href="#">
          <img src="/images/items/gloves.webp" class="img-fluid product-thumbnail">
          <h3 class="product-title">헬스 장갑</h3>
          <strong class="product-price">9,900원</strong>

          <span class="icon-cross">
								<img src="/images/cross.svg" class="img-fluid">
							</span>
        </a>
      </div>
      <!-- End Column 4 -->


      <!-- Start Column 1 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5">
        <a class="product-item" href="#">
          <img src="/images/items/push-up-bars.webp" class="img-fluid product-thumbnail">
          <h3 class="product-title">푸시업 바</h3>
          <strong class="product-price">12,900원</strong>

          <span class="icon-cross">
								<img src="/images/cross.svg" class="img-fluid">
							</span>
        </a>
      </div>
      <!-- End Column 1 -->

      <!-- Start Column 2 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5">
        <a class="product-item" href="#">
          <img src="/images/items/gripper.webp" class="img-fluid product-thumbnail">
          <h3 class="product-title">악력기</h3>
          <strong class="product-price">5,900원</strong>

          <span class="icon-cross">
								<img src="/images/cross.svg" class="img-fluid">
							</span>
        </a>
      </div>
      <!-- End Column 2 -->

      <!-- Start Column 3 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5">
        <a class="product-item" href="#">
          <img src="/images/items/indoor-cycling-device.webp" class="img-fluid product-thumbnail">
          <h3 class="product-title">실내 사이클 머신</h3>
          <strong class="product-price">129,900원</strong>

          <span class="icon-cross">
								<img src="/images/cross.svg" class="img-fluid">
							</span>
        </a>
      </div>
      <!-- End Column 3 -->

      <!-- Start Column 4 -->
      <div class="col-12 col-md-4 col-lg-3 mb-5">
        <a class="product-item" href="#">
          <img src="/images/items/foam-roller.webp" class="img-fluid product-thumbnail">
          <h3 class="product-title">폼 롤러</h3>
          <strong class="product-price">4,900원</strong>

          <span class="icon-cross">
								<img src="/images/cross.svg" class="img-fluid">
							</span>
        </a>
      </div>
      <!-- End Column 4 -->

    </div>
  </div>
</div>
<!-- End Product Section -->

<!-- Start Footer Section -->
<footer th:replace="~{fragments/footer :: footer}"></footer>
<!-- End Footer Section -->

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/tiny-slider.js"></script>
<script src="/js/custom.js"></script>
</body>

</html>
