<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
</head>

<body>
<!-- Start Header/Navigation -->
<header th:replace="~{fragments/header :: navigation('shop')}"></header>
<!-- End Header/Navigation -->

<!-- Start Hero Section -->
<div class="hero gradient-custom">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1><b>Shop</b></h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->

<!-- Start Product Section -->
<div class="untree_co-section product-section before-footer-section">
  <div class="container">
    <div class="row">

      <div th:each="item : ${items}" class="col-12 col-md-4 col-lg-3 mb-5">
        <a class="product-item" href="#">
          <img th:src="@{${item.getImgPath()}}" class="img-fluid product-thumbnail">
          <h3 class="product-title" th:text="${item.name}"></h3>
          <strong class="product-price" th:text="${item.price} + '원'"></strong>
          <span class="icon-cross">
            <img src="/images/cross.svg" class="img-fluid">
          </span>
        </a>
      </div>

    </div>
  </div>
</div>
<!-- End Product Section -->

<!-- Start Footer Section -->
<footer th:replace="~{fragments/footer :: footer}"></footer>
<!-- End Footer Section -->

<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/tiny-slider.js"></script>
<script src="/js/custom.js"></script>
</body>

</html>
